/*Import*/
@import '../less/bootstrap/bootstrap.less';
@import '../less/font-awesome/font-awesome.less';
@import '../less/bootstrap-chosen/bootstrap-chosen.less';
@import '../less/bootstrap-select/bootstrap-select.less';
@import '../css/fullcalendar.min.css';
@import '../css/dataTables.bootstrap.css';
@import '../css/daterangepicker-bs3.css';
@import '../css/icheck.flat.red.css';

/*Color Code*/
@color-black: #000000;
@color-white: #FFFFFF;
@color-green: #75BF46;
@color-orange: #F18B0F;
@color-yellow: #FFFF00;
@color-blue: #27C8F4;
@color-bold-blue: #0096FF;
@color-red: #DE2C3C;
@color-light-red: #D9534F;
@color-gray: #E6E7E9;
@color-bold-gray: #B5B5B5;

/*Override some variables*/

/*Fonts*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/*Helpers: Some helper classes or components that use widely on the page*/
.text-bold{
  font-weight: bold;
}
.text-italic{
  font-style: italic;
}

/*Color class*/
.text-white    {color:@color-white!important;}
.text-green    {color:@color-green!important;}
.text-orange   {color:@color-orange!important;}
.text-yellow   {color:@color-yellow!important;}
.text-blue     {color:@color-blue!important;}
.text-bold-blue{color:@color-bold-blue!important;}
.text-red      {color:@color-red!important;}
.text-light-red{color:@color-light-red!important;}
.text-gray     {color:@color-gray!important;}
.text-bold-gray{color:@color-bold-gray!important;}

.bg-white      {background-color:@color-white!important;}
.bg-green      {background-color:@color-green!important;}
.bg-orange     {background-color:@color-orange!important;}
.bg-yellow     {background-color:@color-yellow!important;}
.bg-blue       {background-color:@color-blue!important;}
.bg-bold-blue  {background-color:@color-bold-blue!important;}
.bg-red        {background-color:@color-red!important;}
.bg-light-red  {background-color:@color-light-red!important;}
.bg-gray       {background-color:@color-gray!important;}
.bg-bold-gray  {background-color:@color-bold-gray!important;}

.table{
  font-size: 12px;

  thead{
    th{
      border-bottom:1px solid #DDDDDD;

      &.child-table-header{
        background-color: #75BF46;
        color:#FFFFFF;
        border-bottom:1px solid #FFFFFF;

        &.child-table-header-left{
          border-top-left-radius:4px;
        }

        &.child-table-header-right{
          border-top-right-radius:4px;
        }
      }
    }
  }

  tbody{
    td.child-table-cell{
      background-color: #75BF46;
      color:#FFFFFF;

      &.child-table-cell-left{
        border-bottom-left-radius:4px;
      }

      &.child-table-cell-right{
        border-bottom-right-radius:4px;
      }
    }
  }

  //some special class
  .details-rows-toggle{
    cursor: pointer;
    text-decoration: none;
  }
}

/*Start*/
html{
  background-color: @color-gray;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}

#navbar{
  border-bottom:3px solid #DD2C3A;
  background-color: #FFFFFF;

  #navbar_toggle{
    margin-top: 4px;
  }

  #navbar_search_form{
    @media (max-width: @screen-sm-min) {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    .form-control{
      border-radius:0px;
    }

    #navbar_search_form_submit_btn{
      background-color: #D2D2D2;
      color:#FFFFFF;
    }
    #navbar_search_form_input{

    }
  }/*end $navbar_search_form*/

  .navbar-collapse{
    overflow-y: visible;
  }

  #navbar_logo{
    .hidden-xs();
    width: 100px;
    padding: 0;
  }

  #powered_logo{
    .hidden-sm();

    padding: 0;
    img{
      //width: 100%;
      height: 20px;
    }
  }//end #powered_logo

  #navbar_page_navigation{
    .visible-xs();
    //.visible-sm();

    .list-inline();
    .text-center();

    margin-bottom: 0px;
    margin-top: 4px;

    li{
      .navbar-text();
      padding-bottom: 0;
      margin-bottom: 0px;
      margin-top: 10px;

      a{
        //color:#000000!important;
        color:@color-blue!important;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      &.active{
        a{
          border-bottom:2px solid #DC2D3A;
        }
      }

      &:hover{
        a{
          text-decoration: none;
          border-bottom:2px solid #DC2D3A;
        }
      }
    }
  }//end #navbar_page_navigation
}

#sidebar{
  position: fixed;
  top: 50px;
  bottom: 0;
  /*different width depending on viewport*/
  width: 50px;
  @media (min-width: @screen-sm-min) {
    width: 80px;
  }
  z-index: 1000;
  //padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F5F5F5;
  //position: relative;

  ul.nav{
    text-align: center;

    li{
      a{
        color:#565656;
        padding: 5px 10px;

        .sidebar-item-icon{
          font-size: 20px;
          @media (min-width: @screen-sm-min) {
            font-size: 30px;
          }
        }
        .sidebar-item-text{
          .hidden-xs();
          font-size: 12px;
        }
      }

      &.active{
        a{
          color:#27C8F4;
        }
      }

      &:hover{
        a{
          color:#27C8F4;
          background-color: transparent;
        }
      }
    }
  }//end ul.nav

  #powered_logo{
    position: absolute;
    bottom: 0;
    left: 0;
    img{
      width: 100%;
    }
  }//end #powered_logo
}

#main{
  /*different margin-left depending on viewport*/
  margin-left: 50px;
  padding-top: 46px;

  @media (min-width: @screen-sm-min) {
    margin-left: 80px;
  }
  margin-top: 50px;

  .page-header{
    position: fixed;
    z-index: 9;
    background-color: @color-white;
    top: 13px;
    right: 0;
    left: 80px;

    @media (max-width: @screen-xs-max){
      left:50px
    }


    .clearfix();
    padding: 0px 10px;
    margin-bottom: 0;
    border-bottom: 2px solid #BFBFBF;

    padding-top: 10px;

    ul#actions_left{
      .list-inline();
      margin-bottom: 0;
      height: 30px;

      li{
        color:@color-blue;

        @media (max-width: @screen-sm-max){
          padding-left:0px;
          padding-right:0px;
        }

        a{
          color:inherit;
          font-weight: bold;
          line-height: 25px;

          text-transform: uppercase;
          text-decoration: none;

          .fa,
          .glyphicon{
            font-size: 18px;
          }
        }
      }
    }//end ul#actions_left

    #create_button{
      .btn();
      .btn-link();
      //.text-danger()!important;
      color:#2CC5EF!important;
    }

    ul#page_navigation{
      .list-inline();
      .text-center();

      margin-top: -5px;
      margin-bottom: 0;

      li{
        padding-left:0px;
        padding-right:0px;

        a{
          .btn();
          .btn-link();

          @media (max-width: @screen-sm-max){
            padding-left: 4px;
            padding-right: 4px;
          }

          //color:#000000!important;
          color:@color-blue!important;
          text-decoration: none!important;
          font-weight: bold;
          text-transform: uppercase;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }

        &.active{
          a{
            border-bottom:2px solid #DC2D3A;
          }
        }

        &:hover{
          a{
            text-decoration: none;
            border-bottom:2px solid #DC2D3A;
          }
        }
      }
    }//end ul#page_navigation

    ul#actions_right{
      .list-inline();
      .text-right();
      margin-bottom: 0;
      height: 30px;
      min-width: 174px;

      li{
        a{
          color:@color-blue!important;
          line-height: 20px;
          font-size: 16px;

          &:hover{
            color:@color-blue!important;
          }
        }
      }
    }/*end ul#actions*/

    /*Patient details widgets*/
    #patient_details{
      .make-md-column(3);
      .media();

      .patient-appoinment-status{
        .media-left();
        font-size: 30px;

        .fa-check-circle{
          color:#75BF46;
        }

        .fa-exclamation-circle{
          color:#DE2C3C;
        }
      }

      .patient-details-text{
        .media-body();
        vertical-align:middle;

        font-size: 13px;
      }
    }//end #patient_details
  }

  .page-content{
    position: relative;
    padding: 10px;
    background-color: @color-gray;
    .clearfix();

   #table_cases_list,
   .data-table{
     .table();
     //.table-striped();
     //.table-bordered();
     //.table-hover();

     background-color: #fff;

     thead{
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       tr{
         border-bottom:3px solid #B5B5B5;
       }
     }

     >tbody{
       >tr{
         &:hover{
           >td{
             background-color: #FFCCCC;
           }
         }
       }
     }

   }/*end #table_cases_list*/
  }
}

/*CSS Table Responsive try*/
@media only screen and (max-width: @screen-xs-max){
  .data-table#table_patients_list{
    display:block;
    thead,tbody,th,td,tr{
      display:block;
    }
    thead{
      tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }
    >tbody{
      >tr{
        border:1px solid @color-gray;
        >td{
          position: relative;
          padding-left: 40% !important;
        }
        >td:before{
          position: absolute;
          width: 45%;
          right: 70%;
          text-align: right;
        }
        >td:nth-of-type(1):before{content:""}
        >td:nth-of-type(2):before{content:"Status"}
        >td:nth-of-type(3):before{content:"PatientID"}
        >td:nth-of-type(4):before{content:"Name"}
        >td:nth-of-type(5):before{content:"Gender"}
        >td:nth-of-type(6):before{content:"Age"}
        >td:nth-of-type(7):before{content:"Last Update"}
        >td.cell-status{
          text-align: left;
        }
      }
      tr.collapse{
        display: none;
      }
      tr.collapse.in{
        display: block;
      }
    }
  }
}

/*Tabs*/
.tabs{
  .list-inline();
  .clearfix();
  margin-left: 0;
  margin-bottom: 0;
  //border-bottom: 3px solid @color-bold-gray;



  border-radius: 4px 4px 0px 0px;
  padding-bottom: 0;

  >li{
    position: relative;
    float: left;
    //margin-bottom: -3px;
    //display:table-cell;

    background-color: @color-bold-gray;
    border-radius: 4px 4px 0px 0px;
    background-color: @color-bold-gray;
    margin-right: 2px;

    >a{
      position: relative;
      display: block;
      padding: 5px 15px;

      cursor: pointer;

      margin-right: 2px;
      border: 1px solid transparent;

      color: @color-white;
      font-weight: bold;
    }

    &.active{
        background-color: @color-white;

      >a{
        cursor:default;
        text-decoration: none;
        color: @color-red;
      }//end >a
    }//end &.active

    &:hover{
      //background-color: @color-white;

      >a{
        cursor: pointer;
        text-decoration: none;
        color: @color-red;
      }
    }
  }//end >li

  &.tabs-traditional{

  }//end .tabs-traditional

  &.tabs-pill{
    .list-inline();
    margin-left: 0;
    margin-bottom: 0;

    >li{
      padding-left: 6px;
      margin-right: 4px;
      margin-bottom: 10px;
      background-color: #FFFFFF;
      color: #000000;
      border-radius:4px;
      border:1px solid #FFFFFF;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      //border:1px solid #C4C5C6;

      .tab-status{
        //.btn();
        font-size: 10px;
        margin-bottom: 0;
        margin-right: 6px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        margin-left: 0;
        position: relative;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        >i{
          display: inline-block;
          width: 16px;
          height: 16px;
          //background-color: @color-red;
          border:2px solid #FFFFFF;
          vertical-align: middle;
          border-radius:8px;
        }

        .outer{
          .text-white();
          font-size: 16px;
        }

        &:click{
          box-shadow:none;
        }
      }

      .tab-text{
        float: left;
        height: 40px;
        line-height: 40px;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        color:#000000;
        font-weight: bold;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .dropdown-menu{

        >li{
          >a{
            padding: 3px 10px;
          }
        }
      }

      &.active,
      &:hover{
        background-color: @color-red;
        color:#FFFFFF;
        border:1px solid @color-red;

        .tab-text{
          color:#FFFFFF;
        }
      }

    }//end li
  }

  &.tab-limit-width{
    >li{
      max-width: 140px;

      .tab-text{
        max-width: 104px;
      }
    }
  }
}//end .tabs-

.tabs-pill{
  .list-inline();
  margin-left: 0;
  margin-bottom: 0;

  >li{
    padding-left: 6px;
    margin-right: 4px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius:4px;
    border:1px solid #FFFFFF;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //border:1px solid #C4C5C6;

    .tab-status{
      //.btn();
      font-size: 10px;
      margin-bottom: 0;
      margin-right: 6px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      margin-left: 0;
      position: relative;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      >i{
        display: inline-block;
        width: 16px;
        height: 16px;
        //background-color: @color-red;
        border:2px solid #FFFFFF;
        vertical-align: middle;
        border-radius:8px;
      }

      .outer{
        .text-white();
        font-size: 16px;
      }

      &:click{
        box-shadow:none;
      }
    }

    .tab-text{
      float: left;
      height: 40px;
      line-height: 40px;
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;
      color:#000000;
      font-weight: bold;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .dropdown-menu{

      >li{
        >a{
          padding: 3px 10px;
        }
      }
    }

    &.active,
    &:hover{
      background-color: @color-red;
      color:#FFFFFF;
      border:1px solid @color-red;

      .tab-text{
        color:#FFFFFF;
      }
    }

  }//end li
}//end .tabs-pill

.tabs-content{
  background-color: @color-white;
  border-radius: 0px 0px 4px 4px;

  .tab-content{
    padding: 10px;
    display:none;

    &.active{
      display:block;
    }
  }//end .tab-content
}//end .tabs-content

/*Modify tables' style*/
#table_summary,
#table_cases_list,
#table_new_appointment{
  text-align: center;

  thead{
    th{
      text-align: center;
    }
  }
}

#table2{
  td:nth-child(2n){
    text-align: right;
  }
}

#table_patients_list{
  .cell-status{
    text-align: center;
    .fa-check-circle{
      color:#75BF46;
    }

    .fa-exclamation-circle{
      color:#DE2C3C;
    }
  }//end .cell-status

  .add-patient-link{
    .text-red();
    text-decoration: none;
    margin-right: 5px;
  }
}


.panel{
  border:none;

  .panel-heading{
    padding: 3px;
    background-color: #DE2C3C;

    .panel-title{
      text-transform: uppercase;
      color:#FFFFFF;
      height: 24px;
      line-height: 24px;
      padding-left: 4px;

      .panel-title-icon{
        //margin-right: 5px;
        background-color: #B82130;
        display: inline-block;
        width: 24px;
        text-align: center;
        text-decoration: none;
        color:inherit;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      >span{
        margin-left: 5px;
      }

      input{
        display: inline-block;
        width:auto;
        height: 23px;
        line-height: 23px;
        padding-top: 3px;
        padding-bottom: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:focus{
          border-color:@color-gray;
          box-shadow:none;
        }
      }

      .chosen-container{
        text-transform: none;
        display: inline-block;
        width:auto!important;
        height: 26px;
        line-height: 23px;
        padding-top: 0px;
        padding-bottom: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        a.chosen-single{
          height: 23px;
          line-height: 23px;

          &:focus{
            border-color:@color-gray;
            box-shadow:none;
          }

          div{
            top: -5px;
          }
        }//end .chosen-single

        .chosen-search{
          input{
            width: 100%;
          }
        }
      }
    }
  }

  &.panel-bold-gray{
    .panel-heading{
      .bg-bold-gray();

      .panel-title-icon{
        .bg-bold-gray();
      }
    }
  }
}//end .panel

/*Hacks for browse file button .btn-file*/
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*Inline widget*/
.inline-widget2{
  margin-top: 8px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  height: 30px;
  line-height: 30px;

  position: relative;

  .inline-widget-title{
    .pull-left();
    background-color: @color-bold-blue;
    color:#FFFFFF;
    width: 105px !important;
    text-align: center;
    padding: 0px 12px;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }//end .inline-widget-title

  .inline-widget-text{
    margin-left: 105px;

    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-weight: bold;
    padding: 0 12px;
    padding-right: 30px;
    vertical-align: middle;

    border: 1px solid #CCCCCC;
    border-left:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }//end .inline-widget-text

  .inline-widget-more-button{
    .pull-right();
    position: absolute;
    top: 2px;
    right: 10px;
  }//end .inline-widget-more-button
}

.inline-widget{
  .form-group();
  .input-group();
  margin-top: 8px;
  margin-bottom: 5px;
  line-height: 30px;

  .inline-widget-title,
  .inline-widget-content{
    //.input-group-addon();
    font-size: 12px;
    line-height: 14px;
    display:inline;
  }

  .inline-widget-title{
    display: inline-block;
    background-color: @color-bold-blue;
    color:#FFFFFF;
    width:105px!important;
    //height: 30px;
    //display:block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 6px 12px;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    vertical-align: middle;
    height: 30px;
  }

  .inline-widget-content{
    background-color: #FFFFFF;
    font-weight: bold;

    .inline-widget-content-text{
      margin-right: 20px;
    }
  }

  .inline-widget-content-more-button{
    position: absolute;
    right: 10px;
    top: 7px;
    line-height: 20px;
    background-color: #FFFFFF;
    color:#2CC5EF;
    font-weight: bold;
    font-size: 16px;
  }
}

/*Daterangerpicker*/
.daterangepicke{
  .form-control();
}

.daterangepicker{
  &.opensright:after{
    right:40px;
    left: auto;
  }
  &.opensright:before{
    right:39px;
    left: auto;
  }
  .ranges{
    li{
      color:@color-red;

      &.active,
      &:hover{
        background-color: @color-red;
        border: 1px solid @color-red;
        color:@color-white;
      }
    }

    .range_inputs{
      .applyBtn{
        .btn-danger();
      }
    }
  }//end .ranges

  .calendar{
    th{
      font-family: inherit;
    }
    td{
      font-family: inherit;
      &.active{
        .bg-red();
      }
      &.available.in-range{
        .bg-light-red();
        color: @color-white;
      }
    }//end td
  }//end .calendar
}//end .daterangepicker

/*Home icons widget*/
#home_icons{
  .list-inline();
  text-align: center;

  >li{
    margin-bottom: 20px;
    margin-right: 20px;

    >a{
      text-decoration: none;
      color:@color-black;
      font-weight: bold;

      >i{
        .icon-128();
      }

      &:hover{
        color:@color-bold-blue;
      }
    }
  }
}

/*Forms*/
.form,
.form-horizontal{
  font-size: 12px;

  legend{
    //.bg-gray();
    margin-bottom: 5px;
    font-size: 17px;
  }

  .form-section{
    padding: 0px 15px;
    margin-bottom: 15px;

    label.control-label{
      text-align: left;
    }

    input[type="radio"]{
      margin-top: 2px;
    }

    .form-group{
      padding-top: 10px;
    }
  }

  .form-control{
    border-radius:0px!important;

    &:focus{
      //border-color:@color-red;
    }
  }
}

/*Form jQuery Stepy*/
.stepy-header{
  .tabs();
  .tabs-pill();

  li{
    padding-left: 6px;
    margin-right: 4px;
    margin-bottom: 10px;
    background-color: @color-white;
    color: @color-black;
    border-radius:4px;
    border:1px solid #FFFFFF;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    >div{
      height: 40px;
      line-height: 40px;
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;
      color:#000000;
      font-weight: bold;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover{
        color:@color-white;
        background-color: @color-red;
        cursor: pointer;
      }
    }//end div

    &.stepy-active{
        background-color: @color-red;
        cursor: pointer;
        border:1px solid @color-red;
        >div{
          color:@color-white;
        }//end div
    }//end &.stepy-active
  }//end li
}//end .stepy-header

.stepy-navigator{
  min-height:40px;

  a{
    .btn();

    &.button-next{
      //.btn-danger();
      .pull-right();
    }

    &.button-back{
      //.btn-danger();
      .pull-left();
    }
  }//end a

  .button-submit{
    .btn();
    .btn-danger();
    .pull-right();
  }
}



/*Widget: Upload*/
.widget-upload{
  .form-group{
    .btn-file-description{
      width: 100%!important;
      min-width: 200px;

      background-color: #D2D2D2;
      font-weight: bold;
      text-align: left;

      @media (max-width: @screen-sm-max) {
        font-size: 11px;
      }
    }
    .input-group-btn{
      border-left:4px solid #FFFFFF; /*hack: make distance between description & button*/
      .btn-file{
        width: 100px;

        border:1px solid #595959;
        background-color: #595959;
        color:#FFFFFF;
        font-weight: bold;
      }
    }
  }
}//end .widget-upload

/*Icons*/
.icon-128{
  width: 128px;
  height: 128px;
  display: inline-block;
  //border:1px solid @color-red;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
}

.icon-patient-registration{background-image: url('../img/icon-patient-registration.png');}
.icon-patient-assessment{background-image: url('../img/icon-patient-assessment.png');}
.icon-lab-tests{background-image: url('../img/icon-lab-tests.png');}
.icon-therapies{background-image: url('../img/icon-therapies.png');}
.icon-ten-step-program{background-image: url('../img/icon-ten-step-program.png');}
.icon-follow-up{background-image: url('../img/icon-follow-up.png');}
.icon-education{background-image: url('../img/icon-education.png');}

/*widget*/

.widgets{
  min-height:100px;
}

.widget{
  //border:1px solid @color-white;
  //position: relative;
}

.widget-placeholder{
  border:1px dashed @color-red;
  min-height:100px;
}

/*dataTables*/
.dataTables_wrapper{
  .dataTable{

  }//end .dataTable
  .dataTables_paginate{
    a{
      cursor:pointer;
      margin-right: 10px;
      color:@color-blue;
      font-weight: bold;

      &:last-child{
        margin-right: 0;
      }

      &.paginate_disabled_previous{
        color:@color-bold-gray;
        cursor:auto;

        &:hover{
          text-decoration: none;
        }
      }

      &.paginate_disabled_next{
        color:@color-bold-gray;
        cursor:auto;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

/*Grid list*/
.grid-list{
  .list-inline();
  .clearfix();
  padding-top: 10px;

  >li{
    .make-xs-column(6);
    .make-sm-column(4);
    .make-md-column(3);

    margin-bottom: 20px;

    .item-image{
      width: 100%;
      height: 200px!important;

      .img-thumbnail();

      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .item-caption{
      .item-caption-text{
        .text-bold();
        .text-italic();
        .text-bold-blue();
      }
    }
    .item-tag{
      .item-tag-text{
        .text-bold();
        .text-italic();
        .text-bold-blue();
      }
    }
  }
}

/*Todo page*/
.todo-widget{
  legend{
    margin-bottom: 0;
  }
  .todo-list{
    .list-unstyled();
    margin-top: 0;
    padding-top: 0;
    
    .todo-task{
      border-top:1px solid @color-bold-gray;
      margin-bottom: 0;
      padding: 5px 0;
      &:first-child{border-top:none}
      &.task-done{opacity:0.5;}
      
      .todo-task-priority{
        font-size: 21px;
        vertical-align: middle;
        margin: 0;
        line-height: 20px;
        height: 20px;
        &.normal{color:@color-green;}
        &.high{color:@color-red;}
      }
      .todo-task-title{
        
      }
      .todo-task-tag{
        .label();
        margin-bottom: 5px;
        //.label-default();
      }
      .todo-task-close{
        display: inline-block;
        vertical-align: middle;
        height: 22px;
        line-height: 22px;
        width: 15px;
        text-align: center;
        color:@color-bold-gray;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

#widget_calendar{
  .bg-white();
  padding: 5px;
  border-radius:4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  .widget-body{
    
  }
}
